<div class="container-fluid" ng-controller="ChartCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tendency Represantation Charts</h1>
        </div>

        <!-- /.col-lg-12 -->

        <tabset>
            <tab heading="Countries Charts">
                <form id="countryForm" method="post" class="form-horizontal">

                    <table style="margin-top:10px">
                        <tr>
                            <td style="width:300px">
                                <div class="form-group" style="margin-right:120px">
                                    <label style="float:left" class="control-label">Date From:</label>
                                    <div class="col-xs-5">
                                        <p class="input-group">
                                            <input style="width:150px" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="datePickersDates.dateFromCountry" is-open="datePickers.dateFromCountry" max-date="datePickersDates.dateToCountry" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open($event,'dateFromCountry')"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td style="width:300px">
                                <div class="form-group">
                                    <label style="float:left" class="control-label">Date To:</label>
                                    <div class="col-xs-5">
                                        <p class="input-group">
                                            <input type="text" style="width:150px" class="form-control" datepicker-popup="{{format}}" ng-model="datePickersDates.dateToCountry" is-open="datePickers.dateToCountry" min-date="datePickersDates.dateFromCountry" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button style="margin-right:20px" type="button" class="btn btn-default" ng-click="open($event,'dateToCountry')"><i class="glyphicon glyphicon-calendar"></i></button>
                                                <button class="btn btn-success btn-large" ng-click="refreshCountry()"><i class="icon-white icon-filter"></i> Refresh Graphics</button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
                <table>
                    <tr>
                        <td style="width:auto">
                            <div class="panel panel-default" style="margin-right:50px">
                                <div class="panel-heading">
                                    Stacked Bar Chart
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <table>
                                        <tr>
                                            <td>
                                                <highchart id="CountryChartStacked" config="CountryChartStacked"></highchart>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->

                        </td>
                        <td style="width:auto">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Line Chart
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <table>
                                        <tr>
                                            <td>
                                                <highchart id="CountryChartLine" config="CountryChartLine"></highchart>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width:auto">
                            <div class="panel panel-default" style="margin-right:50px">
                                <div class="panel-heading">
                                    Heat Map
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <center>
                                        <table>
                                            <tr>
                                                <td>
                                                    <highchart id="CountryChartHeat" config="CountryChartHeat"></highchart>
                                                </td>
                                            </tr>
                                        </table>
                                    </center>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->

                        </td>
                    </tr>
                </table>
            </tab>
            <tab heading="Users Charts">
                <form id="userForm" method="post" class="form-horizontal">

                    <table style="margin-top:10px">
                        <tr>
                            <td style="width:300px">
                                <div class="form-group" style="margin-right:120px">
                                    <label style="float:left" class="control-label">Date From:</label>
                                    <div class="col-xs-5">
                                        <p class="input-group">
                                            <input style="width:150px" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="datePickersDates.dateFromUser" is-open="datePickers.dateFromUser" max-date="datePickersDates.dateToUser" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open($event,'dateFromUser')"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td style="width:300px">
                                <div class="form-group">
                                    <label style="float:left" class="control-label">Date To:</label>
                                    <div class="col-xs-5">
                                        <p class="input-group">
                                            <input type="text" style="width:150px" class="form-control" datepicker-popup="{{format}}" ng-model="datePickersDates.dateToUser" is-open="datePickers.dateToUser" min-date="datePickersDates.dateFromUser" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button style="margin-right:20px"type="button" class="btn btn-default" ng-click="open($event,'dateToUser')"><i class="glyphicon glyphicon-calendar"></i></button>
                                                <button class="btn btn-success btn-large" ng-click="refreshUser()"><i class="icon-white icon-filter"></i> Refresh Graphics</button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
                <table>
                    <tr>
                        <td style="width:auto">
                            <div class="panel panel-default" style="margin-right:50px">
                                <div class="panel-heading">
                                    Stacked Bar Chart
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <table>
                                        <tr>
                                            <td>
                                                <highchart id="UserChartStacked" config="UserChartStacked"></highchart>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->

                        </td>
                        <td style="width:auto">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Line Chart
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <table>
                                        <tr>
                                            <td>
                                                <highchart id="UserChartLine" config="UserChartLine"></highchart>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width:auto">
                            <div class="panel panel-default" style="margin-right:50px">
                                <div class="panel-heading">
                                    Heat Map
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <center>
                                        <table>
                                            <tr>
                                                <td>
                                                    <highchart id="UserChartHeat" config="UserChartHeat"></highchart>
                                                </td>
                                            </tr>
                                        </table>
                                    </center>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->

                        </td>
                    </tr>
                </table>
            </tab>
            <tab heading="Topics Charts">
                <form id="topicForm" method="post" class="form-horizontal">

                    <table style="margin-top:10px">
                        <tr>
                            <td style="width:300px">
                                <div class="form-group" style="margin-right:120px">
                                    <label style="float:left" class="control-label">Date From:</label>
                                    <div class="col-xs-5">
                                        <p class="input-group">
                                            <input style="width:150px" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="datePickersDates.dateFromTopic" is-open="datePickers.dateFromTopic" max-date="datePickersDates.dateToTopic" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open($event,'dateFromTopic')"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td style="width:300px">
                                <div class="form-group">
                                    <label style="float:left" class="control-label">Date To:</label>
                                    <div class="col-xs-5">
                                        <p class="input-group">
                                            <input type="text" style="width:150px" class="form-control" datepicker-popup="{{format}}" ng-model="datePickersDates.dateToTopic" is-open="datePickers.dateToTopic" min-date="datePickersDates.dateFromTopic" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button style="margin-right:20px" type="button" class="btn btn-default" ng-click="open($event,'dateToTopic')"><i class="glyphicon glyphicon-calendar"></i></button>
                                                <button class="btn btn-success btn-large" ng-click="refreshTopic()"><i class="icon-white icon-filter"></i> Refresh Graphics</button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
                <table>
                    <tr>
                        <td style="width:auto">
                            <div class="panel panel-default" style="margin-right:50px">
                                <div class="panel-heading">
                                    Stacked Bar Chart
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <table>
                                        <tr>
                                            <td>
                                                <highchart id="TopicChartStacked" config="TopicChartStacked"></highchart>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->

                        </td>
                        <td style="width:auto">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Line Chart
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <table>
                                        <tr>
                                            <td>
                                                <highchart id="TopicChartLine" config="TopicChartLine"></highchart>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width:auto">
                            <div class="panel panel-default" style="margin-right:50px">
                                <div class="panel-heading">
                                    Heat Map
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <center>
                                        <table>
                                            <tr>
                                                <td>
                                                    <highchart id="TopicChartHeat" config="TopicChartHeat"></highchart>
                                                </td>
                                            </tr>
                                        </table>
                                    </center>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->

                        </td>
                    </tr>
                </table>
            </tab>
            <tab heading="Country/Topics Charts">
                <form id="CountryTopicForm" method="post" class="form-horizontal">

                    <table style="margin-top:10px">
                        <tr>
                            <td style="width:300px">
                                <div class="form-group" style="margin-right:120px">
                                    <label style="float:left" class="control-label">Date From:</label>
                                    <div class="col-xs-5">
                                        <p class="input-group">
                                            <input style="width:150px" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="datePickersDates.dateFromCountryTopic" is-open="datePickers.dateFromCountryTopic" max-date="datePickersDates.dateToCountryTopic" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open($event,'dateFromCountryTopic')"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td style="width:300px">
                                <div class="form-group">
                                    <label style="float:left" class="control-label">Date To:</label>
                                    <div class="col-xs-5">
                                        <p class="input-group">
                                            <input type="text" style="width:150px" class="form-control" datepicker-popup="{{format}}" ng-model="datePickersDates.dateToCountryTopic" is-open="datePickers.dateToCountryTopic" min-date="datePickersDates.dateFromCountryTopic" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button style="margin-right:20px" type="button" class="btn btn-default" ng-click="open($event,'dateToCountryTopic')"><i class="glyphicon glyphicon-calendar"></i></button>
                                                <button class="btn btn-success btn-large" ng-click="refreshCountryTopic()"><i class="icon-white icon-filter"></i> Refresh Graphics</button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
                <table>
                    <tr>
                        <td style="width:auto">
                            <div class="panel panel-default" style="margin-right:50px">
                                <div class="panel-heading">
                                    Stacked Bar Chart
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <table>
                                        <tr>
                                            <td>
                                                <highchart id="CountryTopicChartStacked" config="CountryTopicChartStacked"></highchart>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->

                        </td>
                        <td style="width:auto">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Line Chart
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <table>
                                        <tr>
                                            <td>
                                                <highchart id="CountryTopicChartLine" config="CountryTopicChartLine"></highchart>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width:auto">
                            <div class="panel panel-default" style="margin-right:50px">
                                <div class="panel-heading">
                                    Heat Map
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <center>
                                        <table>
                                            <tr>
                                                <td>
                                                    <highchart id="CountryTopicChartHeat" config="CountryTopicChartHeat"></highchart>
                                                </td>
                                            </tr>
                                        </table>
                                    </center>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->

                        </td>
                    </tr>
                </table>
            </tab>
            <tab heading="Dated Charts">
                <form id="DatedForm" method="post" class="form-horizontal">

                    <table style="margin-top:10px">
                        <tr>
                            <td style="width:300px">
                                <div class="form-group" style="margin-right:120px">
                                    <label style="float:left" class="control-label">Date From:</label>
                                    <div class="col-xs-5">
                                        <p class="input-group">
                                            <input style="width:150px" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="datePickersDates.dateFromDated" is-open="datePickers.dateFromDated" max-date="datePickersDates.dateToDated" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open($event,'dateFromDated')"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td style="width:300px">
                                <div class="form-group">
                                    <label style="float:left" class="control-label">Date To:</label>
                                    <div class="col-xs-5">
                                        <p class="input-group">
                                            <input type="text" style="width:150px" class="form-control" datepicker-popup="{{format}}" ng-model="datePickersDates.dateToDated" is-open="datePickers.dateToDated" min-date="datePickersDates.dateFromDated" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button style="margin-right:20px" type="button" class="btn btn-default" ng-click="open($event,'dateToDated')"><i class="glyphicon glyphicon-calendar"></i></button>
                                                <button class="btn btn-success btn-large" ng-click="refreshDated()"><i class="icon-white icon-filter"></i> Refresh Graphics</button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
                <table>
                    <tr>
                        <td style="width:auto">
                            <div class="panel panel-default" style="margin-right:50px">
                                <div class="panel-heading">
                                    Column Chart
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <table>
                                        <tr>
                                            <td>
                                                <highchart id="DatedColumnChart" config="DatedColumnChart"></highchart>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->

                        </td>
                        <td style="width:auto">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Line Chart
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <table>
                                        <tr>
                                            <td>
                                                <highchart id="DatedLineChart" config="DatedLineChart"></highchart>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width:auto">
                            <div class="panel panel-default" style="margin-right:50px">
                                <div class="panel-heading">
                                    Heat Map
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <center>
                                        <table>
                                            <tr>
                                                <td>
                                                    <highchart id="DatedChartHeat" config="DatedChartHeat"></highchart>
                                                </td>
                                            </tr>
                                        </table>
                                    </center>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->

                        </td>
                    </tr>
                </table>
            </tab>

</tabset>

        
    </div>

    
    <!-- /.row -->
</div>



<!-- /.container-fluid -->