<div class="container-fluid" ng-controller="ChartCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tendency Represantation Charts</h1>
        </div>

        <!-- /.col-lg-12 -->

        <tabset>
            <tab heading="Users Charts">
                <form id="userForm" method="post" class="form-horizontal">

                    <table style="margin-top:10px">
                        <tr>
                            <td style="width:300px">
                                <div class="form-group" style="margin-right:120px">
                                    <label style="float:left" class="control-label">Date From:</label>
                                    <div class="col-xs-5">
                                        <p class="input-group">
                                            <input style="width:150px" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="datePickersDates.dateFromUser" is-open="datePickers.dateFromUser" max-date="datePickersDates.dateToUser" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open($event,'dateFromUser')"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td style="width:300px">
                                <div class="form-group">
                                    <label style="float:left" class="control-label">Date To:</label>
                                    <div class="col-xs-5">
                                        <p class="input-group">
                                            <input type="text" style="width:150px" class="form-control" datepicker-popup="{{format}}" ng-model="datePickersDates.dateToUser" is-open="datePickers.dateToUser" min-date="datePickersDates.dateFromUser" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button style="margin-right:20px"type="button" class="btn btn-default" ng-click="open($event,'dateToUser')"><i class="glyphicon glyphicon-calendar"></i></button>
                                                <button class="btn btn-success btn-large" ng-click="refreshUser()"><i class="icon-white icon-filter"></i> Refresh Graphics</button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
                <table>
                    <tr>
                        <td style="width:auto">
                            <div class="panel panel-default" style="margin-right:50px">
                                <div class="panel-heading">
                                    Bar Chart
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <table>
                                        <tr>
                                            <td>
                                                <canvas id="usersBarChart" width="500" height="400"></canvas>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->

                        </td>
                        <td style="width:auto">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Radar Chart
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <table>
                                        <tr>
                                            <td>
                                                <canvas id="usersRadarChart" width="500" height="400"></canvas>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width:auto">
                            <div class="panel panel-default" style="margin-right:50px">
                                <div class="panel-heading">
                                    Line Chart
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <center>
                                        <table>
                                            <tr>
                                                <td>
                                                    <canvas id="usersLineChart" width="500" height="400"></canvas>
                                                </td>
                                            </tr>
                                        </table>
                                    </center>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->

                        </td>
                    </tr>
                </table>
            </tab>
            <tab heading="Topics Charts">
                <form id="topicForm" method="post" class="form-horizontal">

                    <table style="margin-top:10px">
                        <tr>
                            <td style="width:300px">
                                <div class="form-group" style="margin-right:120px">
                                    <label style="float:left" class="control-label">Date From:</label>
                                    <div class="col-xs-5">
                                        <p class="input-group">
                                            <input style="width:150px" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="datePickersDates.dateFromTopic" is-open="datePickers.dateFromTopic" max-date="datePickersDates.dateToTopic" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open($event,'dateFromTopic')"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td style="width:300px">
                                <div class="form-group">
                                    <label style="float:left" class="control-label">Date To:</label>
                                    <div class="col-xs-5">
                                        <p class="input-group">
                                            <input type="text" style="width:150px" class="form-control" datepicker-popup="{{format}}" ng-model="datePickersDates.dateToTopic" is-open="datePickers.dateToTopic" min-date="datePickersDates.dateFromTopic" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button style="margin-right:20px" type="button" class="btn btn-default" ng-click="open($event,'dateToTopic')"><i class="glyphicon glyphicon-calendar"></i></button>
                                                <button class="btn btn-success btn-large" ng-click="refreshTopic()"><i class="icon-white icon-filter"></i> Refresh Graphics</button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
                <table>
                    <tr>
                        <td style="width:auto">
                            <div class="panel panel-default" style="margin-right:50px">
                                <div class="panel-heading">
                                    Bar Chart
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <table>
                                        <tr>
                                            <td>
                                                <canvas id="topicsBarChart" width="500" height="400"></canvas>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->

                        </td>
                        <td style="width:auto">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Radar Chart
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <table>
                                        <tr>
                                            <td>
                                                <canvas id="topicsRadarChart" width="500" height="400"></canvas>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width:auto">
                            <div class="panel panel-default" style="margin-right:50px">
                                <div class="panel-heading">
                                    Line Chart
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <center>
                                        <table>
                                            <tr>
                                                <td>
                                                    <canvas id="topicsLineChart" width="500" height="400"></canvas>
                                                </td>
                                            </tr>
                                        </table>
                                    </center>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->

                        </td>
                    </tr>
                </table>
            </tab>
            <tab heading="#Hashtags Charts">
                <form id="hashTagForm" method="post" class="form-horizontal">

                    <table style="margin-top:10px">
                        <tr>
                            <td style="width:300px">
                                <div class="form-group" style="margin-right:120px">
                                    <label style="float:left" class="control-label">Date From:</label>
                                    <div class="col-xs-5">
                                        <p class="input-group">
                                            <input style="width:150px" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="datePickersDates.dateFromHashTag" is-open="datePickers.dateFromHashTag" max-date="datePickersDates.dateToHashTag" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open($event,'dateFromHashTag')"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td style="width:300px">
                                <div class="form-group">
                                    <label style="float:left" class="control-label">Date To:</label>
                                    <div class="col-xs-5">
                                        <p class="input-group">
                                            <input type="text" style="width:150px" class="form-control" datepicker-popup="{{format}}" ng-model="datePickersDates.dateToHashTag" is-open="datePickers.dateToHashTag" min-date="datePickersDates.dateFromHashTag" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button style="margin-right:20px" type="button" class="btn btn-default" ng-click="open($event,'dateToHashTag')"><i class="glyphicon glyphicon-calendar"></i></button>
                                                <button class="btn btn-success btn-large" ng-click="refreshHashTag()"><i class="icon-white icon-filter"></i> Refresh Graphics</button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
                <table>
                    <tr>
                        <td style="width:auto">
                            <div class="panel panel-default" style="margin-right:50px">
                                <div class="panel-heading">
                                    Bar Chart
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <table>
                                        <tr>
                                            <td>
                                                <canvas id="hashTagsBarChart" width="500" height="400"></canvas>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->

                        </td>
                        <td style="width:auto">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Radar Chart
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <table>
                                        <tr>
                                            <td>
                                                <canvas id="hashTagsRadarChart" width="500" height="400"></canvas>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width:auto">
                            <div class="panel panel-default" style="margin-right:50px">
                                <div class="panel-heading">
                                    Line Chart
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <center>
                                        <table>
                                            <tr>
                                                <td>
                                                    <canvas id="hashTagsLineChart" width="500" height="400"></canvas>
                                                </td>
                                            </tr>
                                        </table>
                                    </center>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->

                        </td>
                    </tr>
                </table>
            </tab>
		      <tab heading="Persons Charts">
                <form id="personForm" method="post" class="form-horizontal">

                    <table style="margin-top:10px">
                        <tr>
                            <td style="width:300px">
                                <div class="form-group" style="margin-right:120px">
                                    <label style="float:left" class="control-label">Date From:</label>
                                    <div class="col-xs-5">
                                        <p class="input-group">
                                            <input style="width:150px" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="datePickersDates.dateFromPersons" is-open="datePickers.dateFromPersons" max-date="datePickersDates.dateToPersons" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open($event,'dateFromUser')"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td style="width:300px">
                                <div class="form-group">
                                    <label style="float:left" class="control-label">Date To:</label>
                                    <div class="col-xs-5">
                                        <p class="input-group">
                                            <input type="text" style="width:150px" class="form-control" datepicker-popup="{{format}}" ng-model="datePickersDates.dateToPersons" is-open="datePickers.dateToPersons" min-date="datePickersDates.dateFromPersons" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button style="margin-right:20px"type="button" class="btn btn-default" ng-click="open($event,'dateToPersons')"><i class="glyphicon glyphicon-calendar"></i></button>
                                                <button class="btn btn-success btn-large" ng-click="refreshPersons()"><i class="icon-white icon-filter"></i> Refresh Graphics</button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
                <table>
                    <tr>
                        <td style="width:auto">
                            <div class="panel panel-default" style="margin-right:50px">
                                <div class="panel-heading">
                                    Bar Chart
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <table>
                                        <tr>
                                            <td>
                                                <canvas id="personsBarChart" width="500" height="400"></canvas>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->

                        </td>
                        <td style="width:auto">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Radar Chart
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <table>
                                        <tr>
                                            <td>
                                                <canvas id="personsRadarChart" width="500" height="400"></canvas>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width:auto">
                            <div class="panel panel-default" style="margin-right:50px">
                                <div class="panel-heading">
                                    Line Chart
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <center>
                                        <table>
                                            <tr>
                                                <td>
                                                    <canvas id="personsLineChart" width="500" height="400"></canvas>
                                                </td>
                                            </tr>
                                        </table>
                                    </center>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->

                        </td>
                    </tr>
                </table>
            </tab>

            <tab heading="Stats by week">
                <form id="dayForm" method="post" class="form-horizontal">

                    <table style="margin-top:10px">
                        <tr>
                            <td style="width:300px">
                                <div class="form-group">
                                    <div class="col-xs-5">
                                        <p class="input-group">
                                            <span class="input-group-btn">
                                                <button class="btn btn-success btn-large" ng-click="refreshWeekStats()"><i class="icon-white icon-filter"></i> Refresh Graphic</button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
                <table>
                    <tr>
                        <td style="width:auto">
                            <div class="panel panel-default" style="margin-right:50px">
                                <div class="panel-heading">
                                    Stacked Bar Chart
                                </div>
                                <div class="panel-body">
                                    <table>
                                        <tr>
                                            <td>
                                                <div id="maxDayBarChart" style="min-width: 900px; max-width: 900px; height: 600px; margin: 0 auto"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>>
                            </div>

                        </td>
                    </tr>	
                </table>
            </tab>

</tabset>

        
    </div>

    
    <!-- /.row -->
</div>



<!-- /.container-fluid -->